body {
  font-family: sans-serif;
}

input[type="text"],
input[type="password"] {
  border: 1px solid rgb(65, 101, 218);
  padding: 5px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background: #ddd;
}

.users-list ul {
  list-style-type: none;
  padding: 0;
}

.users-list ul li {
  margin-bottom: 10px;
}